page-home {

	.card-grid{
		display: flex;
		flex-direction: column;
		height: 85%;
	}


	.suit-row{
		flex: 1;
	}

	.cardIsntInDeck{
		color: red !important;
	}

	.cardIsInPlayerHand{
		color: green !important;
	}

}
