<ion-header>
  <ion-navbar color="this-background">
    <hand-navbar>
    </hand-navbar>

    <ion-buttons end>
    	
    	<button ion-button icon-only (click)="openSettingsPage()">
    		<ion-icon name="settings">
    		</ion-icon>
		</button>

		<button ion-button icon-only (click)="deck.resetDeck()">
    		<ion-icon name="refresh">
    		</ion-icon>
		</button>
    
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

	<ion-grid class="card-grid">
		<ion-row *ngFor="let suit of suits; let suitPos = index" class="suit-row">
			<ion-col *ngFor="let rank of ranks; let rankPos = index" class="card-face-big-wrapper">
				<a (tap)="deck.toggleCardInDeck(suitPos, rankPos)"
				    (doubleTap)="onDoubleTap($event, suitPos, rankPos)" 
    				[innerHtml]='deck.getCardFace(suitPos, rankPos) | safe'
				   	[ngClass]="{ cardIsntInDeck : deck.getCardStatus(suitPos, rankPos) != 'in-the-deck',
				   		cardIsInPlayerHand : deck.getCardStatus(suitPos, rankPos) == 'in-player-hand',
				   		twoColourDeck : settingsData.fourColourDeck != true }"
				 	>

				</a>
			</ion-col>
			<ion-col class="suit-odds">
				{{ deck.getSuitOdds(suitPos) | number : '1.1-1' }}%
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col *ngFor="let rank of ranks; let rankPos = index" class="rank-odds">
				{{ deck.getRankOdds(rankPos) | number : '1.1-1' }}%
			</ion-col>
			<ion-col>
				<button ion-button icon-only (click)="openStatsPage()">
		    		<ion-icon name="refresh">
		    		</ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
