page-home {

	.card-grid{
		display: flex;
		flex-direction: column;
		height: 85%;
	}


	.suit-row{
		flex: 1;
	}







	/*   --- CARD STUFF ---
	===========================*/

	.twoColourDeck{
		
		.club-colour{
			fill: #000;
		}

		.diamond-blue{
			fill: red;
		}
	}


	.cardIsntInDeck{

		transition: 0.5s;

		.card-background{
			fill: #BD95CC;
		}

		.club-colour{
			fill: #9455AB;
		}
	}

	.cardIsInPlayerHand{

		transition: 0.5s;

		.card-background{
			stroke: #EDD62B;
		}

		SVG{

			-webkit-filter: drop-shadow( 0px 0px 5px #EDD62B );
					filter: drop-shadow( 0px 0px 5px #EDD62B );
		}
	}






	/*  --- ODDS TEXT ---
	========================*/

	.suit-odds{

		/* Safari */
		-webkit-transform: rotate(90deg);

		/* Firefox */
		-moz-transform: rotate(90deg);

		/* IE */
		-ms-transform: rotate(90deg);

		/* Opera */
		-o-transform: rotate(90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);


	}



}
