page-home {

	.card-grid{
		display: flex;
		flex-direction: column;
		height: 85%;
	}


	.suit-row{
		flex: 1;
	}







	/*   --- CARD STUFF ---
	===========================*/

	.twoColourDeck{
		
		.club-colour{
			fill: #000;
		}

		.diamond-colour{
			fill: yellow;
		}
	}


	.cardIsntInDeck{
		color: red !important;


		#Background{
			fill: #aaa;
		}

		.club-colour{
			fill: #444;
		}
	}

	.cardIsInPlayerHand{
		color: green !important;

		#Background{
			stroke: yellow;
		}
	}






	/*  --- ODDS TEXT ---
	========================*/

	.suit-odds{

		/* Safari */
		-webkit-transform: rotate(90deg);

		/* Firefox */
		-moz-transform: rotate(90deg);

		/* IE */
		-ms-transform: rotate(90deg);

		/* Opera */
		-o-transform: rotate(90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);


	}



}
