<!--
  Generated template for the HandNavbar component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<span class="title-text">
    <a id="stats-link" (click)="openStatsPage()">
	    <span class="hand-text">YOUR HAND:</span>

	    <span class="navbar-hand" *ngFor="let playerCard of getPlayerHandFaces()"
	    	[ngClass]="{twoColourDeck : settingsData.fourColourDeck != true}"
	    	[innerHtml]="playerCard | safe">
	    </span>
	    &nbsp;
	    <span class="hand-text">{{ analyser.analyseThisHand( playerHand.getHand() ) }}</span>
	</a>
</span>
