hand-navbar {

	//NAVBAR CARD STUFF
	.navbar-hand{
		display: inline-block;

		.stud-card{
			height: 35px;
			width: auto;
			margin-left: 5px;
		}

	}

	ion-title{
		//line-height: 20px;
		//font-size: 20px !important;
	}

	#stats-link{
		color: white;
	}

}
