hand-navbar {

	$title-size: 25px;
	
	align-items: center;

	justify-content: left;
	margin-left: 1vw;

	//NAVBAR CARD STUFF
	.navbar-hand{
		display: inline-block;
		line-height: $title-size;

		.stud-card{
			height: $title-size;
			width: auto;
			margin-left: 5px;
		}

	}

	.hand-text{


		line-height: $title-size;
		font-size: $title-size;
	}

	#stats-link{
		color: white;
	}

}
